* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(173, 118, 224);
}

ul {
    display: flex;
    list-style: none;
}

li {
    margin: 0px 10px;
}

.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    box-shadow: 0px 0px 10px rgb(173, 118, 224);
    padding: 10px 14px;
    border-radius: 5px;
}
.counter-btn {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.counter-btn button {
    font-size: 17px;
    padding: 5px 8px;
    border: none;
    background-color: rgb(145, 62, 222);
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.add-btn {
    background-color: white;
    font-size: 17px;
    padding: 5px;
    border-radius: 5px;
    margin: 15px 0px;
    border: 2px solid rgb(173, 118, 224);
    cursor: pointer;
}
